body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(54, 54, 54);
    background-image: url("./images/background\ 2.jpg");
}

header {
    background-color: rgb(0, 0, 0);
}
header .wrapper {
    display: flex;
}
 

header h1 {
    font-size: 3em;
    padding-left: 1em;
    color: rgb(214, 214, 214);
}



nav.topnav {
    margin: 0;
    padding-top: 0;
    background-color: rgb(53, 52, 52);
    overflow: hidden;
}

nav.topnav a {
    margin: 0;
    display: inline-block;
    color: #d4d4d4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav.topnav a:hover {
    background-color: #ddd;
    color: rgb(201, 201, 201);
}

nav.topnav a.active {
    background-color: #04AA6D;
    color: white;
}
/*added some padding form w3cschools*/


.history {
    background-color: rgb(63, 63, 63);
    color: rgb(214, 214, 214);
}

div.item {
    margin: 2vh 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

div.item h3 {
    font-size: 2em;
}

div.item p {
  
    font-size: 1.7em;
}

div.item p {
    display: flex;
    align-content: flex-start;
}
    /*unsure if the above does anything*/

    footer {
        background-color: rgb(0, 0, 12);
        color: white;
        padding: 0.5% 25% 0.5% 25%;
    }
     div.content {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(224, 224, 224);
        padding: 1em;
    }
    /*div content added to change format*/
    
    
    
  
    
   
  