body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(54, 54, 54);
    background-image: url("./images/background\ 2.jpg");
}

header {
    background-color: rgb(0, 0, 0);
}
header .wrapper {
    display: flex;
}
 

header h1 {
    font-size: 3em;
    padding-left: 1em;
    color: rgb(214, 214, 214);
}



nav.topnav {
    margin: 0;
    padding-top: 0;
    background-color: rgb(53, 52, 52);
    overflow: hidden;
}

nav.topnav a {
    margin: 0;
    display: inline-block;
    color: #d4d4d4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav.topnav a:hover {
    background-color: #ddd;
    color: rgb(201, 201, 201);
}

nav.topnav a.active {
    background-color: #04AA6D;
    color: white;
}
/*added some padding form w3cschools*/


.history {
    background-color: rgb(63, 63, 63);
    color: rgb(214, 214, 214);
}

div.item {
    margin: 2vh 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

div.item h3 {
    font-size: 2em;
}

div.item p {
  
    font-size: 1.7em;
}

div.item p {
    display: flex;
    align-content: flex-start;
}
    /*unsure if the above does anything*/

    footer {
        background-color: rgb(0, 0, 12);
        color: white;
        padding: 0.5% 25% 0.5% 25%;
    }
    
* {
    box-sizing: border-box;
  }
  
  /* ===============
     TYPOGRAPHY
     =============== */
  
  body {
    font-family: sans-serif;
  }
  
  /* ===============
     BUTTONS
     =============== */
  
  input[type="reset"] {
    color: #0e7a0d;
    padding: 12px 20px;
    border: 1px solid #0e7a0d;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="reset"]:hover {
    background-color: #d1efe3;
  }
  
  input[type="submit"] {
    background-color: #0e7a0d;
    color: white;
    padding: 12px 20px;
    border: 1px solid #0e7a0d;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #00ab66;
  }
  
  /* ===============
     STRUCTURE
     =============== */
  
  .wrapper-form {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .wrapper-button {
    display: flex;
    justify-content: space-between;
  }
  
  /* ===============
     FORM CONTROLS
     =============== */
  
  input,
  select,
  textarea {
    font-size: 1em;
  }
  
  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(126, 126, 126);
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(24, 24, 24);
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  textarea {
    font-family: sans-serif;
  }
  
  fieldset {
    margin-bottom: 16px;
    border: 1px solid rgb(70, 70, 70);
  }
  
  .label-required {
    font-size: 0.8rem;
    color: red;
  }
  footer {
    background-color:  #19191a;
    color: white;
    padding: 0.10% 20% 0.5% 25%;
  }